<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>测试借书</h1>
    <form method='post' action='/order/create'>
      bid<input type="text" name='bid' /><br />
    	<input type="submit"/ >
    </form>
  </body>
</html>