<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>测试登录</h1>
    <form method='post' action='/create/book'>
    	ISBN<input type="text" name='isbn' /><br />
    	书名<input type="text" name='bookname' /><br />
      作者<input type="text" name='author' /><br />
      出版时间<input type="text" name='publishDate' />1285862400000<br />
      页数<input type="text" name='pages' /><br />
      价格<input type="text" name='price' /><br />
      出版社<input type="text" name='publisher' /><br />
      简介<input type="text" name='brief' /><br />
      可借?<select name='borrowable'><option value='1'>可借</option><option value='0'>不可借</option></select><br />
      图片<input type="text" name='pics' /><br />

    	<input type="submit"/ >
    </form>
  </body>
</html>